/* Add all your styles here */
/* Add all your styles here */
body { 
    background-color:#f6f5f5 ;
    margin:0px ;
    padding:0px ;
}

ul{
    list-style:none ;
}

a { 
    text-decoration:none;
}

section{
    width:100%;
    height:70%;
    
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
}

nav {
    display: flex;
    justify-content:space-between;
    align-items:center ;
    height:100px;
    background-color:#ffffff;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin:12px ;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.logo{
    color:#000000 ;
    background-color:powderblue;
    font-size:35px;
    font-family:arial ;
}

.active{
    font-weight: bold;
    color:#2d2a2a;
}

.text p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color:#6d6d6d ;
    font-size: 22px;
}
.text p:nth-child(2){
    font-family: calibri;
    font-weight: bold;
    color:#1a1a1a ;
    letter-spacing:1px ;
    font-size: 25px;
}
.text p:nth-child(3){
    font-family: myriad pro regular;
    color:#403a3a;
    font-size: 27px;
    line-height:27px ;
}

.text p{
    line-height:0px ;
    margin: 35px 0px 22px;
}
.text{
    position:absolute;
    left:5%;
    top: 100px
    transform:translate(-13%,-42%)
}

.text button {
    width: 130px;
    height: 42px;
    font-family: calibri;
    font-size:14px ;
    font-weight:bold ;
    border-radius: 10px;
    outline:none ;
    margin:0px 10px ;
 }
.hire-btn{
    border:1px solid #0b0b0b ;
    color: #373636;
}
.cv-btn{
    color:#ffffff ;
    border:none ;
    background-color:#0b0b0b ;
}

button:active{
    transform:scale(1.2)
}

.about{
    width:85%;
    height:275px ;
    background-color:#ffffff;
    border-radius:20px;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: 65% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items:center;
}

.about-text{
    width:550px ;
}

.about-text p:nth-child(1){
    color:#403e3e ;
    font-family: myriad pro;
    font-size: 22px;
    font-weight:bold ;
    line-height:0px ;
    text-align: center;
}

.about-text p:nth-child(2){
    color: #3e3d3d;
    font-family: myriad pro;
    font-size: 17px;
    font-weight: bold;
    line-height:5px ;
    text-align: center;
}

.about-text p:nth-child(3){
    color:#7e7d7d ;
    font-family: calibri ;
    font-size: 15px;
    text-align: center;
}

.about-text button { 
    width: 120px;
    height:40px ;
    margin:10px ;
    color:#ffffff ;
    outline: none;
    border-radius:15px;
    border:none ;
    font-family: calibri;
    background-color:#262525 ;
    text-align: center;
}

.service{
    
    width:350px ;
    background-color:#ffffff ;
    padding:10% ;
    text-align: center;
}

.serve p:nth-child(1){
    font-family:calibri ;
    font-size: 22px;
    line-height: 0px;
    font-weight: bold;
    color: #3e3d3d;
}

.serve p:nth-child(2){
    font-family:calibri ;
    font-size: 15px;
    line-height: 5px;
    font-weight: bold;
    color: #3d3e3e;
}

.serve p:nth-child(3){
    font-family:calibri ;
    color: #7e7d7d;
}



.b,.o,.x{
    width: 280px;
    height:222px ;
    background-repeat: repeat;
    background-size: cover;
    box-shadow:2px 2px 12px rgba(0,0,0,0.3)
    justify-content: center ;
    display:flex ;
    align-items:center  ;
    flex-direction:column ;
}
.box{
    
    justify-content:space-between ;
}
.b{
    background-color:cyan ;
}

.o{
    background-color:coral ;
}

.x{
    background-color:darkslategrey ;
}

.b span,.o span,.x span{
    height: 30px;
    width: 30px;
    border-radius:50% ;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family:calibri ;
    font-weight:bold ;
    
}

.b p:nth-child(1),
.o p:nth-child(1),
.x p:nth-child(1){
    color: #ff7f50;
    font-family: calibri;
    font-size:15px ;
    line-height:0px ;
}

.b p:nth-child(2),
.o p:nth-child(2),
.x p:nth-child(2){
    color: #8f8f8f;
    font-family: calibri;
    width: 150px;
    margin: 0px 0px 20px 0px ;
}

.b button, 
.o button, 
.x button{ 
    width: 100px;
    height:30px ;
    border-radius: 7px;
    background-color:ffffff ;
    align-items: center ;
    border:none ;
    outline: none;
}

.contact{
    width:101% ;
    height:210px ;
    background-color:powderblue ;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content:center  ;
    align-items:center;
}

.contact p{
    color:#ffffff ;
    font-size:30px ;
    font-family: calibri;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;

}

.contact button {
    width: 180px;
    height: 40px ;
    background-color: #ffffff;
    border: none;
    outline: none;
    font-size:15px ;
    font-weight: bold;
}

footer{
    height:270px ;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items:center;
}

footer p { 
    font-family: calibrity;
    position:relative ;
}

footer p:nth-child(1){
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
    line-height: 19px;
    color: #191919;
}

footer p:nth-child(2){
    font-size: 17px;
    color:#7e7d7d;
    width: 300px;
    text-align:center ;
}

.icons a{
    width:40px ;
    height:40px ;
    display:flex ;
    justify-content: center;
    align-items:center;
    background-color:darkkhaki;
    margin:5px ;
    border-radius:50% ;
}
.icon a:hover,
.icons a:hover{
    color:darkorange ;
    background-color:darkred ;
}

.icons a i.fab{
    padding:5px ;
 }
.icons{
    display:flex ;
}

.icon{
    position:fixed ;
    top: 50%;
    right:10px;
    transform:translateY(-50%)
}

.icon a {
    display:flex ;
    justify-content: center;
    align-items:center;
    width:40px ;
    height: 40px;
    padding:0px ;
    margin:0px ;
    line-height: ;0px
    background-color:#ffffff ;
    border:1px solid #cbcbcb ;
    bos-shadow:2px 2px 12px rgba(0,0,0,0.2);
 }
 
.icon a:hover {
    background-color:forestgreen ;
}
 

